* {
    box-sizing: border-box;
}

:root {
    --a:#31343d;
    --b:#92ccce;
    --c:#445877;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--a);
}
/* Work on header to adjust size */
header h1 {
    color: var(--c);
    background-color: var(--b);
    padding: 5px 1% 5px 6%;
    font-size: 2vw;
    line-height: 1;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: var(--b);
    background-image: linear-gradient(280deg, var(--b) 0%, var(--b) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    font-size: 1.4em;
    transition: all .25s ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--a);
}

.leftbar {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: var(--b);
    background-image: linear-gradient(280deg, var(--b) 0%, var(--b) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    font-size: 1.4em;
    
}